/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.container-cards {
  width: 100%;
}
.product-card:hover {

}

.fa-pencil-square {
  font-size: 60px;
  text-align: center;
}
