<h1>Shopping Cart</h1>

<% @order_items.each do |order_item| %>
<p><%= "#{order_item.product.name},   #{order_item.quantity},   *   #{order_item.product.item_price_for_quantity(order_item.quantity).price_cents}   #{order_item.product.sum_price_for_quantity(order_item.quantity)} " %></p>
<%= link_to 'Checkout', orders_path, method: 'post' %>
<% end %>

