
<body>

    <!-- The content of your page would go here. -->

    <footer class="footer-distributed">



      <div class="footer-left">

        <p class="footer-links">
          <a href="#">Terms & conditions</a>
          路
          <a href="#">Privacy policy</a>
          .
          <a href="#">Refunds & returns</a>
          路
          <a href="#">Reseller Rate Card</a>
          路
          <a href="#">Shipping</a>
          路
          <a href="#">About us</a>
        </p>
        <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>

      </div>
        <div class="footer-bottom">
        <p>&copy; 2016 Skwirrel Industries Pty Ltd</p>
        </div>
      </div>

    </footer>

  </body>

</html>
