<%= render 'layouts/shared/banner' %>

<div class= "product-page-container">
  <div class= "product-card">
  </div>
   <div class= "product-card">
  </div>
   <div class= "product-card">
  </div>
</div>












