<h1>Purchase of teddy</h1>
<%= form_tag order_payments_path(@order) do %>
  <article>
    <label class="amount">
      <span>Amount: $Placeholder </span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Teddy"
    data-description="Teddy <%= @order.order_items %>"
    data-amount="<%= @order.amount_cents %>"</script>
<% end %>
