#hide-stripe-button{
  visibility: hidden;
}

.stripe-button-el span{
  color: red !important;
  background-image: none !important;
  background-color: green !important;
}

.btn-main {
  background-color: $merchfactory_pink;
  height: 36px;
  width: 100%;
  padding: 0px;
  // padding: 10px 15px;
  border-radius: 0px;
  // opacity: 0.6;
  margin: 0px;
  color: white;
  text-align: center;
  border-style: none;
  font-family: khula;
  font-weight: 300;
  font-size: 18px;
  line-height: 18px;
  padding: 10px;

  &.small {
    width: 150px;
  }
  &.large {
    width: 300px;
  }

  &.small-big {
    width: 300px;
  }
}



.btn-main:hover {
  opacity: 1;
  text-decoration: none;
  color: #4c4d48;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
