


.product-card {
  width: 100%;
  height: 360px;
  background-size: cover;
  position: relative;
}

.product-card-name {
  position: absolute;
  bottom: 10px;
  left: 15px;
  color: white;
}

// .product_image_card {
//   width: 200px;
//   height: 200px;
// }


// .card-description {
//   position: absolute;
//   bottom: 5px;
//   left: 10px;
// }

.card-product-name p {
  font-size: 13px;
  }


.row .product-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 3px;
    margin-bottom: 20px;
  }

/* On mouse-over, add a deeper shadow */
.row .product-card:hover {
  box-shadow: 5px 10px 5px rgba(0,0,0,0.2);
  color: black;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  transition: opacity 200ms;
}
.card-link:hover{
  opacity: 0.2;
}



// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index:2;
//   background: black;
//   opacity: 0;
// }


// .card-link:hover{
//   opacity: 0.1;
// }

// .card-description p {
//   overflow: hidden;
//   max-width: 50ch;
// }

// .card-description {
//     width: 35ch;
//     height:20px;
//     line-height:20px; /* Height / no. of lines to display */
//     overflow:hidden;
// }


// .plane_card {}
// .plane-card span {}
// .plane-card h2 {
//   font-size: 24px;
//   text-transform: uppercase;
//   padding: 10px;
// }
// .plane-card .card-description {
//     width: 100%;
//     display: flex;
// }
// .plane-card .card-description .first {
//   width: 60%;
// }
// .plane-card .card-description .last {
//   width: 40%;
// }



