.product-page-container {
  // border: 5px solid blue;
  display: flex;
}

.product-page-split-left {
  // background-color: red;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.product-page-split-right {
  // background-color: red;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
}


.product-page-split-right-bottom {
  // background-color: red;
  width: 100%;
  display: flex;
  // justify-content: space-between;
  justify-content: flex-end;
  flex-direction: column;
}

.product-info {
  width: 99%;
  margin: 2px;
  padding-left: 15px;
  padding-right: 30px;
}

.product-features {
  width: 99%;
  margin: 2px;
  padding-left: 15px;
  padding-right: 30px;
  list-style: none;

  p{
    font-weight: 700;
  }
}
.product-order-form {
  display: flex;
  flex-direction: row;
  background-color: $merchfactory_light_gray;
  // background-color: purple;
}
.price-breaks {
  background-color: $merchfactory_dark_gray;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 15px;
  padding: 10px;
}
.quantity-price-breaks {
  width: 50px;
  // background-color: green;
  margin: 2px;
   p{
    line-height: 12px;
  }
}
.price_per_unit {
  width: 50px;
  // background-color: green;
  margin: 2px;
  text-align: right;

 p{
    line-height: 12px;
  }
}
.order-details {
  width: 99%;
  // background-color: green;
  margin: 15px 15px 15px 0px;
  display: flex;
  flex-direction: column;
}
.download-templates {

  // background-color: gray;
  display: flex;
  width: 99%;
  height:100%;
  text-justify: center;
  // height: 50px;

}
.upload-templates {
  display: flex;
  width: 99%;
  height:100%;
  // height: 50px;
  // background-color: yellow;
  display: flex;
}
.select-quantity {
  width: 99%;
  height: 100%;
  // height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-input-quantity {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}


.user-input-price-per-unit {
 width: 100px;
 height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.user-input-total-price {
  width: 100px;
  background-color: $merchfactory_light_gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}


.add-to-cart {
  width: 99%;
  // background-color: $merchfactory_pink;
}

.additional-info {
  width: 100%;
  // height: 100%;
  height: 50px;
  margin: 0px;
  padding-right: 30px;
  background-color: $merchfactory_light_gray;
  text-align: right;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

.modal-body {
  display: flex;
  justify-content: center;
}



// .additional-info p {
//   text-align: right;
// }
