

.footer-distributed{
  background: white;
  // border-box: black, 3px;
  border-top: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

  // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  // box-sizing: border-box;
  // width: 100%;
  //height: 200px;
  // text-align: left;
  // font: normal 16px sans-serif;

  // clear: both;
  // position: relative;
  //z-index: 10;
  // height: 3em;
  // margin-top: -3em;
  //position: absolute;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // padding: 1rem;
  // background-color: grey;
  // text-align: center;
  //display: inline-block;


.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 12px;
  margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
  font-size:15px;
  // font-weight: bold;
  color:  #8f9296;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 2;
  text-decoration: none;
  color:  black;

}
.footer-distributed p.footer-links a:hover {
  color: #fc4496 ;
}

.footer-distributed .footer-right{
  margin-top: 6px;
  margin-bottom: 10px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  transparent;
  border-radius: 2px;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}
.footer-distributed .footer-right i.fa-facebook:hover{
  color: #3B5998;
  font-size: 23px;
}
.footer-distributed .footer-right i.fa-twitter:hover{
  color: #33CCFF;
  font-size: 23px;
}
.footer-distributed .footer-right i.fa-instagram:hover{
 color: #bc2a8d;
 font-size: 23px;
}
.footer-distributed .footer-right i.fa-linkedin:hover{
  color: #4875B4;
  font-size: 23px;
}
.footer-bottom {
  position: bottom;

}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}
