



<div class="col-xs-12 col-sm-4">

  <%= link_to(product) do %>

    <div class="product-card" style= "background-image: linear-gradient(rgba(0,0,0,0.0) 70%, rgba(0,0,0,0.8)), url('<%= cl_image_path product.pictures.first.image, height: 600, width: 600, crop: :fill %>');">
      <div class= "product-card-name">
       <%= product.name %>
      </div>
    </div>
  <% end %>

</div>
