



<div class="col-xs-12 col-sm-4">
  <a href="#">
    <div class="product-card">
       <div class= "product_image_card">
        <%= cl_image_tag @product.pictures.image.first, height: 600, width: 600, crop: :fill %>
      </div>
        <h2><%= products.name %></h2>
    </div>
  </a>
</div>
